@model IEnumerable<OnlineJewelleryShop.Models.Product>

@{
    ViewData["Title"] = "Earrings";
}

<style>
    .btn-red {
        background-color: white;
        color: #ad073d;
        border: 1px solid#ad073d;
    }

    .btn-red:hover {
        background-color: #ad073d;
        color: white;
        border: 1px solid #ad073d;
    }
</style>

<br />
<br />
<h1>Earrings</h1>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdType)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdType.ProdTypeId)
            </td>*@
@*            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="AddEarrings" class="btn btn-outline-danger btn-red">Add New</a>
    <a href="/NewArrival/NewArrival" class="btn btn-outline-danger btn-red">Back to Home</a>
</div>